@import "fonts";
@import "vars";
@import "reset";
@import "box-sizing";
@import "libs";
.header,
.main,
.footer {
  @extend %Sans-400;
  font-size: 13px;
  line-height: 23px;
  color: #48555b;
  letter-spacing: 0.1875px;
}
.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.header {
  min-height: 100vh;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 41px;
  padding-bottom: 71px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  &-logo {
    &__img {
      width: 101.62px;
      height: 23px;
    }
  }
  &-title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
    text-transform: uppercase;
    @extend %Sans-700;
    span {
      font-size: 16px;
      line-height: 19px;
      @extend %Sans-600;
      display: block;
      text-align: center;
    }
  }
  &__scroll {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
}
.logo {
  width: 79.53px;
  height: 18px;
}
.navbar {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
  &__inner {
    @extend %Sans-600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
  }
  &-logo {
    width: 79.53px;
    height: 18px;
  }
  &-list {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.09091px;
    &__link {
      transition: all 0.3s;
      &:hover {
        color: #00a4e5;
      }
    }
    &__item + .navbar-list__item {
      margin-left: 48px;
    }
    &__link {
      text-decoration: none;
    }
  }
}
.title {
  display: inline-block;
  @extend %Sans-700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.30625px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    background-color: #00a4e5;
  }
}
.about {
  text-align: center;
  &__inner {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    &-info {
      max-width: 406px;
      width: 100%;
      text-align: left;
    }
    &-img + .about__inner-img {
      margin-left: 20px;
    }
  }
  &__info {
    font-size: 20px;
    line-height: 23px;
    @extend %Sans-700;
    letter-spacing: 0.1875px;
    margin-bottom: 30px;
    span {
      color: #00a4e5;
    }
  }
}
